*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html,
body {
  background: #124119;
  background: -webkit-linear-gradient(to right, #6da594, #b6c90c);
  background: linear-gradient(to right, #8d8a7b, #b0d314);
  height: 100%;
   min-width: 500px; 

}

/* link de la navbar */

.link_navbar {
  font-family: 'Times New Roman', Times, serif;
}

/* article avec scroll en ecrit blanc */

.article {
  border: 1px solid lightcyan;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  border-top: #b0d314;
  border-left: #b0d314;
  border-bottom: #b0d314;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpapers.com%2Fzoo-background&psig=AOvVaw2jQSAnqVY0B6YyHKa281cW&ust=1715890658470000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPjtvfu8kIYDFQAAAAAdAAAAABA3);
}


/*  ma navbar */

.navbar {
  background-color: rgba(252, 252, 243, 0.911);
  border: 2px solid chartreuse;
  box-shadow: 10px 5px 5px 10px;
  height: 110PX;
}

 #video_carousel1 {
  width: 100%;
  height: 50%;
  box-shadow: 10px 5px 100px 100px;
}
 

/* photo image de ma carousel */

/* .img {
  width: 800px;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  box-shadow: 10px 5px 100px 100px;
  border: 1px solid lightcyan;

} */



/*  */

.section_main {
   display: flex;
  justify-content: center;
  
  height: 700px;
  width: 100%;
  background-color: aliceblue;

  background: -webkit-linear-gradient(to right, lightcyan, #aee6f0);
  background: linear-gradient(to right, lightcyan, #53a4e7);

} 

#card_card {
  height: 400px;
  display: flex;
  width: 450px;
  font-family: 'Times New Roman', Times, serif;
}

#card_body {
  background: -webkit-linear-gradient(to right, lightcyan, #ddf3a9);
  background: linear-gradient(to right, lightcyan, #b5e4c5);

}

#list_modal {
  background-color: #0db437;
  background: -webkit-linear-gradient(to right, rgb(136, 194, 167), #0db437);
  background: linear-gradient(to right, rgb(12, 151, 151), #dae4b5);
 
}

#img_modal {
  height: 200px;

}

#barre_horizontale1 {
  background: -webkit-linear-gradient(to right, rgb(136, 194, 167), #0db437);
  background: linear-gradient(to right, rgb(12, 151, 151), #dae4b5);

}

#section_spectacle_soins {
  display: flex;
  justify-content: center;


  height: 800px;
  width: 100%;
  background-color: rgb(229, 253, 229);

  background: -webkit-linear-gradient(to right, lightcyan, #aff803);
  background: linear-gradient(to right, lightcyan, #04f18f);

}

#barre_horizontale2 {
  background: -webkit-linear-gradient(to right, rgb(251, 253, 252), #cddbd1);
  background: linear-gradient(to right, rgb(241, 243, 224), #fafcfa);

}

#section_spectacle_soins {
  background-color: coral;

}

#card_soinsVet {
  background-color: #e8f5c4;
  border: 2px solid;
  box-shadow: 10px 5px 50px 50px rgb(215, 253, 158);
   margin-top: 20px;
}

#card_Spectacle {
  margin-top: 50px;
  background-color: #e8f5c4;
  border: 2px solid;
  box-shadow: 2px 2px 2px 2px rgb(250, 251, 250);

}


 /*------------------------------------------- TOUS LES ANIMAUX------------------------------------------------------------------- */

/*  */

 /*-------------------------------------------FIN  TOUS LES ANIMAUX------------------------------------------------------------------- */